<div [formGroup]="form" class="mixIcon">
    <span *ngIf="!selectedImage" class="material-symbols-outlined account_circle">
        account_circle
        <span class="material-symbols-outlined edit_square" (click)="openFile(icon)">
            edit_square
        </span>
    </span>
    <div *ngIf="selectedImage">
        <span class="material-symbols-outlined account_circle">
            <img [src]="selectedImage" alt="Selected Image" fill class="imageIcon">
            <span class="material-symbols-outlined edit_square" (click)="openFile(icon)">
                edit_square
            </span>
        </span>
    </div>
    <input #icon class="icon" formControlName="profilePicture" type="file" accept="image/*" (change)="loadImage($event)">
</div>