<div [formGroup]="form" class="form">
  <div>
    @switch (question.controlType) {
      @case ('imagepicture') {
        <profile-picture></profile-picture>
      }
      @case ('textbox') {
        <dynamic-input [form]="form" [values]="question!"></dynamic-input>
      } @case ('dropdown') {
        <select [id]="question.key" [formControlName]="question.key">
        @for (opt of question.options; track opt) {
          <option [value]="opt.key">{{ opt.value }}</option>
        }
        </select>
      }
    }
  </div>
  @if (!isValid) {<div class="errorMessage">{{ question.label }} is required</div>}
</div>

