form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}

button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6em;
    cursor: pointer;
    margin: auto 3em 1em auto;
    padding: 5px 10px;
    color: #1C1018;
    border-color: #1C1018;
    background-color: #C3F73A;
    border: none;
    border-radius: 20px;
}

button:active {
    background-color: #68B684;
    color: #1C1018;
  }