<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <button type="submit" [disabled]="!form.valid">Submit
      <span class="material-symbols-outlined ">
        arrow_forward
      </span>
    </button>
    @for (controllers of data; track controllers) {
    <div class="form-row">
      <fields-form [question]="controllers" [form]="form"></fields-form>
    </div>
    }
  </form>
  @if (payLoad) {
  <div class="form-row">
    <strong>Saved the following values</strong><br>{{ payLoad }}
  </div>
  }
</div>